*{
	box-sizing: border-box;
}

body{
	font-family: Helvetica;
	
	position: relative;
	margin: 0;
	padding: 0;
	
}
h1{
	text-align: center;
}
h2{
	background: none;
	border: solid  black 2px;
	width:33%;
	margin: 0;
	float:right;
	text-align: center;

}
#chicken{
	background-color: #ff9966;
}
#beef{
	background-color: #ff6666;
}
#pork{
	background-color: #ffcccc
}
section{
	
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: #d9d9d9; 
	float: left;
	margin-top: 2%;
}

p{
	
	text-align: center; 
	padding: 25px;
}

@media (min-width: 992px){
	.sizeLG{
		margin: 1.66%;
		width: 30%;
		
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.sizeMD6{
		margin: 2.5%;
		width: 45%;
	}
	.sizeMD12{
		margin: 2.5%;
		width:95%;
	}
}
@media (max-width: 767px){
	.sizeSM12{
		margin-left:5%; 
		margin-right: 5%;
		width: 90%;
	}
}